# User-specified ignores
# Ignore video files, but not the directory itself
video/*
!video/.gitkeep

# Ignore photo files, but not the directory itself
fotos/*
!fotos/.gitkeep

# Ignore backgrounds files, but not the directory itself
backgrounds/*
!backgrounds/.gitkeep

# Node.js specific ignores
node_modules/
.env
*.log
server.err
